CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
src/ConnectFour
src/ConnectFour.exe
src/cmake_install.cmake
test/runTests
test/runTests.exe
googletest/googletest-build
googletest/googlemock-build
test/lib
test/cmake_install.cmake
test/CTestTestfile.cmake
